<%- include("partials/navbar") %>
<main>
    <% if(folder.files.length > 0) { %>
    <h1>Your Files</h1>
    <div class="file">
        <% folder.files.forEach(file => { %>
        <h2>&#128462; <%= file.originalName %></h2>
        <p><%=file.formattedSize%></p>
        <p><%=file.formattedDate%></p>
        <a href="/files/<%=file.id%>/download?folderId=<%=folder.id%>">
            <button>Download</button>
        </a>
        <a href="/files/<%=file.id%>/delete?folderId=<%=folder.id%>">
            <button onclick="return confirm('Are you sure?');">Delete</button>
        </a>
        <% }); %>
    </div>
    <% } else { %>
    <h1>There are no files here...</h1>
    <% } %>
    <form action="/files/new?folderId=<%=folder.id%>" method="post" enctype="multipart/form-data" class="file-form">
        <input type="file" name="uploadedFile" />
        <button type="submit">Upload</button>
    </form>
    <%- include("partials/errors") %>
</main>
