<%- include("partials/navbar") %>
<main>
    <% if(folders.length > 0) { %>
    <h1>Your Folders</h1>
    <div class="folder">
        <% folders.forEach(folder => { %>
        <a href="/folders/<%=folder.id%>"><h2><%= folder.name %></h2></a>
        <p><%=folder.files.length%> items</p>
        <a href="/folders/<%=folder.id%>/delete">
            <button onclick="return confirm('Are you sure?');">Delete</button>
        </a>
        <button onclick="editFolder('<%= folder.id %>')">Edit</button>
        <% }); %>
    </div>
    <% } else { %>
    <h1>You don't have any folders...</h1>
    <% } %>
    <form method="post" action="/folders/new" class="folder-form">
        <input type="text" name="folderName" placeholder="Folder Name">
        <button type="submit">Add Folder</button>
    </form>
    <%- include("partials/errors") %>
</main>
<script>
  function editFolder(id) {
    const newName = prompt('Enter new name');
    if (newName) {
      window.location.href = `/folders/${id}/edit?newName=${encodeURIComponent(newName)}`;
    }
  }
</script>
